<div>
  <h2>fly in out</h2>
  <div>
    <button (click)="onAddItem()">add items</button>
    <button (click)="onDecreaseItem()">Decrease items</button>
  </div>

  <div class="multi-animation">
    <div class="list">
      <h3>default flyInOut, time is 0.2s</h3>
      <div *ngFor="let item of itemList;index as i;" class="item" @flyInOut>{{i}}</div>
    </div>
    <div class="list">
      <h3>custom flyInOut, time is 0.3s</h3>
      <div *ngFor="let item of itemList;index as i;" class="item" @cusFlyInOut>{{i}}</div>
    </div>
  </div>
</div>
